
body {
    background-color:rgb(49, 49, 49);
    padding: 30px;
}

#uu {
    position: absolute;
    left: -200px; top: 0;
    animation: move 2s linear;
    width: 200px;
}
@keyframes move {
    0%   { left: -200px; top: 0; }
    100% { left: 100%; top: 0; }
}

/*                                 fejléc                          */
header {
    text-align: center;
    margin: 0px 0px 60px 0px;
}
header span {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    box-shadow: 0px 0px 5px black;
    padding: 10px 40px;
    border-radius: 25px;
    margin: 0px 10px;
}
header span:hover { box-shadow: inset 0px 0px 5px black; }
/*                                 szabályok                        */
.developers, .rules {
    display: none;
    text-align: center;
    letter-spacing: 1px;
}
.rules {
    display: block;
}
.rules .container {
    height: 450px;
    padding: 20px;
}
.rules .szabalyok { padding-top: 20px; }
.rules .szabalyok h2 {text-align: start; } 
.rules .szabalyok ul { text-align: start; margin: -20px;}

/*                                  fejlesztők                      */

.developers h1 { padding: 30px 0; }
.developers .us {
    margin: 20px 0;
}
.developers a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    margin-bottom: 20px;
}
.developers a:hover { letter-spacing: 3px; }
/*                játék:                       */
.game {
    display: none;
}

#nemtom { animation: hatter 10s infinite ; background-color: rgb(238, 238, 238); }
@keyframes hatter {
    0%   { box-shadow: 0px 0px 30px rgb(255, 0, 0)   }  
    12.5%{ box-shadow: 0px 0px 30px rgb(255, 153, 0) }
    25%  { box-shadow: 0px 0px 30px rgb(255, 230, 0) }
    37.5%{ box-shadow: 0px 0px 30px rgb(0, 255, 0)   }
    50%  { box-shadow: 0px 0px 30px rgb(0, 132, 255) }
    62.5%{ box-shadow: 0px 0px 30px rgb(195, 0, 255) }
    75%  { box-shadow: 0px 0px 30px rgb(255, 0, 128) }
    100% { box-shadow: 0px 0px 30px rgb(255, 0, 0)   }
}
/*                               cím           */
h2{ 
    text-align: center; 
    text-transform: uppercase;
    margin: 30px;
    font-weight: 700;
}

/*                      melyik játékos van              */
#dd {
    padding: 20px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}
#dd span {
    font-size: 30px;
    font-weight: 600;
}
#dd img {
    width: 50px;
    position: absolute;
}
/*                       számláló                          */
.counter {
    position: absolute;
    /*background-color: white;*/
    margin-top: 100px;
    width: 250px;
    height: 500px;
}
.counter #score {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 0px 7px white;
    margin: 10px;
}
.counter .plyr{
    font-size: 20px;
    padding: 5px;
    margin: 10px auto;
    font-weight: 600;
}
.counter #player1 { text-shadow: 0px 0px 7px rgb(0, 162, 255) }
.counter #player2 {text-shadow: 0px 0px 7px rgb(255, 0, 0)  }
/*                    kezdő és újrakezdő gomb              */
.asd  #restart{
    color: black;
    top: 120px; left: 0px;
    text-align: center;
    position: relative;
    font-weight: 700;
    letter-spacing: 6px;
}
#restart:hover {
    text-decoration: none;
    cursor: pointer;
}

.kozep {
    position: relative;
}
.asd {
    position: absolute;
    display: block;
    top: 0; left: 50%;
    transform: translateX(-172px);
    margin: auto;
    width: 375px;
    height: 375px;
    text-align: center;
    font-size: 70px;
    background-color: rgba(0, 255, 0, 0.144);
    z-index: 2;
}
/*                          játék terület               */
.place {
    margin: auto;
    width: 375px;
    height: 375px;
    z-index: 1;
}
.place .blocks {
    border: 1px solid black;
    width: 125px;
    height: 125px;
    cursor: pointer; 
    transition: 0.2s;
}

.place .blocks:hover{ background-color: rgba(0, 255, 255, 0.11); }
.blocks img {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
}
#mittomen { filter: blur(5px); }
/*                           játékosokról adatok         */
.info {
    margin: auto;
    top: 0;
    left: 0;
    width: 375px;
    min-height: 220px;
    padding: 10px;
    text-align: center;
}
.info input {
    background-color: rgb(238, 238, 238);
    color: black;
    border: none;
    margin: 5px;
    border-bottom: 1px solid black;
}

input[type=text]{
    color: black
}
#ok {
    background-color: rgb(0, 255, 0);
    border: none;
    padding: 4px 20px;
    border-radius: 15px;
}
input::placeholder{ font-size: 14px; font-weight: 300; }

/*
#rstrt {
    border: 1px solid rgb(98, 114, 133);
    border-radius: 20px;
    padding: 5px 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    margin: auto;
}
#rstrt:hover {
    background-color: rgb(32, 179, 184);
   

}
*/
.info a{
    margin-top: -50px;
    color : grey;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.2s;
    background-color: rgb(238, 238, 238);
    border-radius: 25px;
}
.info a:hover{
    text-decoration: none;
    letter-spacing: 0.25em;
    box-shadow: 0 0 15px blue;   
}
.info a span{
    z-index: 1;
}